### Pyspark Dataframes
1) Filter Operation
2) &,|,==
3) ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Tutorial_4').getOrCreate()

In [3]:
spark

In [7]:
df_spark = spark.read.csv('DataSet2.csv', header=True, inferSchema=True)

In [8]:
df_spark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
| Aayush|  24|         3| 25000|
| Tripti|  22|         1| 20000|
| Aditya|  25|         3| 30000|
| Shivam|  25|         1| 30000|
| Ashish|  25|         3| 28000|
| Naincy|  25|         2| 32000|
|Vaibhav|  26|         2| 35000|
| Preeti|  26|         5| 40000|
|Suruchi|  29|      NULL| 70000|
| Chirag|  26|         4| 90000|
| Anurag|NULL|        15|110000|
|   NULL|  34|      NULL|  NULL|
|   NULL|  36|      NULL|  NULL|
+-------+----+----------+------+

In [10]:
df_spark = df_spark.dropna()
df_spark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Aayush| 24|         3| 25000|
| Tripti| 22|         1| 20000|
| Aditya| 25|         3| 30000|
| Shivam| 25|         1| 30000|
| Ashish| 25|         3| 28000|
| Naincy| 25|         2| 32000|
|Vaibhav| 26|         2| 35000|
| Preeti| 26|         5| 40000|
| Chirag| 26|         4| 90000|
+-------+---+----------+------+

#### FILTER OPERATIONS

In [ ]:
# Salary of People less than 31000
df_spark.filter('Salary<31000').show()
# df_spark.where('Salary<31000').show()  # Where is just an alias of filter
# df_spark.filter('Salary<31000').select(['Name', 'Age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Aayush| 24|         3| 25000|
|Tripti| 22|         1| 20000|
|Ashish| 25|         3| 28000|
+------+---+----------+------+

In [32]:
# df_spark.filter('Salary<31000' and 'Age<26').show()
df_spark.filter('Salary<31000' or 'Age<26').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Aayush| 24|         3| 25000|
|Tripti| 22|         1| 20000|
|Aditya| 25|         3| 30000|
|Shivam| 25|         1| 30000|
|Ashish| 25|         3| 28000|
+------+---+----------+------+

In [40]:
# not condition or inverse condition
df_spark.filter(~(df_spark['Salary']<31000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Naincy| 25|         2| 32000|
|Vaibhav| 26|         2| 35000|
| Preeti| 26|         5| 40000|
| Chirag| 26|         4| 90000|
+-------+---+----------+------+