### TUTORIAL 2
1) PYSPARK DATAFRAME
2) READING DATASET
3) CHECK DTYPES
4) SELECT AND INDEXING
5) ADD COLUMNS
6) DROP COLUMNS
7) RENAME COLUMNS

In [7]:
from pyspark.sql import SparkSession

In [59]:
spark = SparkSession.builder.appName('Tutorial_2').getOrCreate()

In [60]:
spark

In [ ]:
## Reading Dataset
# df_pyspark = spark.read.option('header','true').csv('DataSet1.csv')
# df_pyspark = spark.read.options(header=True, inferSchema=True).csv('DataSet1.csv')
df_pyspark = spark.read.csv('DataSet1.csv', header=True, inferSchema=True)

In [30]:
# Check schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [31]:
# show dataset
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Aayush| 24|
|Tripti| 22|
|Aditya| 25|
+------+---+

In [32]:
# type of dataframe
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [39]:
df_pyspark.head(2)

[Row(Name='Aayush', Age=24), Row(Name='Tripti', Age=22)]

In [40]:
type(df_pyspark.head(2))

list

In [42]:
# selecting the dataset
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|Aayush|
|Tripti|
|Aditya|
+------+

In [44]:
df_pyspark.select('Age')

DataFrame[Age: int]

In [45]:
df_pyspark.select('Age').show()

+---+
|Age|
+---+
| 24|
| 22|
| 25|
+---+

In [48]:
# data types
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [50]:
# describe the dataset with mean, median, mode, count, min, max and SD Values
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|               Age|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  NULL|23.666666666666668|
| stddev|  NULL|1.5275252316519468|
|    min|Aayush|                22|
|    max|Tripti|                25|
+-------+------+------------------+

In [52]:
# adding columns -- not an inplace function
df_pyspark.withColumn('Age After 2 years', df_pyspark['Age']+2).show()

+------+---+-----------------+
|  Name|Age|Age After 2 years|
+------+---+-----------------+
|Aayush| 24|               26|
|Tripti| 22|               24|
|Aditya| 25|               27|
+------+---+-----------------+

In [53]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Aayush| 24|
|Tripti| 22|
|Aditya| 25|
+------+---+

In [54]:
# dropping columns
df_pyspark.drop('Age').show()

+------+
|  Name|
+------+
|Aayush|
|Tripti|
|Aditya|
+------+

In [56]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Aayush| 24|
|Tripti| 22|
|Aditya| 25|
+------+---+

In [58]:
# renaming a column
df_pyspark.withColumnRenamed('Name', 'Professional Name').show()

+-----------------+---+
|Professional Name|Age|
+-----------------+---+
|           Aayush| 24|
|           Tripti| 22|
|           Aditya| 25|
+-----------------+---+