In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in d:\softwares\python\lib\site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in d:\softwares\python\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyspark

In [4]:
pyspark.__version__

'3.5.5'

In [5]:
import pandas as pd

In [6]:
pd.read_csv('DataSets.csv')

     Name  Age
0  Aayush   24
1  Tripti   22
2  Aditya   25

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Tutorial_1").getOrCreate()

In [4]:
df_pyspark = spark.read.csv('DataSet1.csv', header=True, inferSchema=True)
# or
# df_pyspark = spark.read.option('header', 'true').csv('DataSets.csv')

In [22]:
df_pyspark

DataFrame[Name: string, Age: int]

In [23]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
|Aayush| 24|
|Tripti| 22|
|Aditya| 25|
+------+---+

In [24]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)