### Group By and Aggregation Functions

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Tutorial_5').getOrCreate()

In [4]:
spark

In [8]:
df_pyspark = spark.read.csv('DataSet2.csv', header=True, inferSchema=True)
df_pyspark = df_pyspark.dropna()
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Aayush| 24|         3| 25000|
| Tripti| 22|         1| 20000|
| Aditya| 25|         3| 30000|
| Shivam| 25|         1| 30000|
| Ashish| 25|         3| 28000|
| Naincy| 25|         2| 32000|
|Vaibhav| 26|         2| 35000|
| Preeti| 26|         5| 40000|
| Chirag| 26|         4| 90000|
+-------+---+----------+------+

In [16]:
# group by
df_pyspark.groupBy('Age').max('Salary').show()

+---+-----------+
|Age|max(Salary)|
+---+-----------+
| 26|      90000|
| 22|      20000|
| 25|      32000|
| 24|      25000|
+---+-----------+

In [20]:
df_pyspark.groupBy('Age', 'Name').max('Salary').show()

+---+-------+-----------+
|Age|   Name|max(Salary)|
+---+-------+-----------+
| 24| Aayush|      25000|
| 26| Preeti|      40000|
| 25| Shivam|      30000|
| 25| Ashish|      28000|
| 22| Tripti|      20000|
| 25| Aditya|      30000|
| 26| Chirag|      90000|
| 26|Vaibhav|      35000|
| 25| Naincy|      32000|
+---+-------+-----------+

In [19]:
# aggregate functions
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     330000|
+-----------+